<div class="jumbotron text-center">
    <hr>
    <h1>Post Office Management System (POMS)</h1>
    <hr>
</div>
<nav class="navbar navbar-expand-sm mx-auto">
    <ul class="navbar-nav mx-auto">
        <li class="nav-item" style="padding-left:0.2in">
            <a class="btn btn-primary" routerLink="/" routerLinkActive="active">Home</a>
        </li>
        <li class="nav-item" style="padding-left:0.2in">
            <a class="btn btn-primary" routerLink="/addparcel" routerLinkActive="active">Add Parcel</a>
        </li>
        <li class="nav-item" style="padding-left:0.2in">
            <a class="btn btn-primary" routerLink="/addsender" routerLinkActive="active">Add Sender</a>
        </li>
        <li class="nav-item" style="padding-left:0.2in">
            <a class="btn btn-primary" routerLink="/listparcels" routerLinkActive="active">List Parcels</a>
        </li>
        <li class="nav-item" style="padding-left:0.2in">
            <a class="btn btn-primary" routerLink="/listsenders" routerLinkActive="active">List Senders</a>
        </li>
        <li class="nav-item" style="padding-left:0.2in">
            <a class="btn btn-primary" routerLink="/deletesender" routerLinkActive="active">Delete Sender</a>
        </li>
    </ul>
</nav>

<router-outlet></router-outlet>