<div class="section container">
    <table class="table table-striped table-condensed">
      <thead>
        <tr>
          <th>#</th>
          <th>Sender ID</th>
          <th>Name</th>
          <th>Parcels</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let sender of sendersDB; let i = index">
          <td>{{i+1}}</td>
          <td>{{sender._id}}</td>
          <td>{{sender.name}}</td>
          <td>{{sender.parcels}}</td>
        </tr>
      </tbody>
    </table>
  </div>